.toolbar {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--ufo-toolbar-height);
    padding: 0 var(--ufo-div-padding);
    background-color: var(--ufo-primary-bg);
    color: var(--ufo-primary-fg);

    #menu-toggle {
        display: none;
    }

    .hamburger-icon {
        display: none;
    }

    .toolbar-items {
        display: flex;
        gap: 1em;

        .row {
            display: flex;
        }

        .component {
            height: 20pt;
            max-height: 20pt;
            display: flex;
            align-items: center;
            justify-content: stretch;
        }
    }

    @media (max-width: 750px) {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 0.5em;

        .hamburger-icon {
            display: flex;
            position: absolute;
            top: 1em;
            right: 1em;
            align-self: flex-end;
            margin-bottom: 1em;
            background-color: var(--ufo-ctrl-bg);
            flex-direction: column;
            justify-content: space-around;
            width: 24px;
            height: 18px;
            margin-right: auto;
            cursor: pointer;

            span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: var(--ufo-primary-fg);
                border-radius: 2px;
                transition: all 0.3s ease;
                transform-origin: center;
            }
        }

        /* Animate into X when checked */
        #menu-toggle:checked+.hamburger-icon span:nth-child(1) {
            transform: rotate(45deg);
            position: absolute;
        }

        #menu-toggle:checked+.hamburger-icon span:nth-child(2) {
            opacity: 0;
        }

        #menu-toggle:checked+.hamburger-icon span:nth-child(3) {
            transform: rotate(-45deg);
            position: absolute;
        }

        .toolbar-items {
            display: none;
            flex-direction: column;
            width: 100%;
            margin-top: 2em;

            .component {
                margin-bottom: 1em !important;
                margin-left: 0;
                max-height: none;
                font-size: 10pt;
            }

            #Status {
                width: auto !important;
            }

            #SourceSelector,
            #DateRange {
                width: auto;
                display: inline-block;
            }

            #SourceSelector {
                margin-right: 1em;
            }

            #DownloadCsvButton {
                width: auto;
            }

            #DownloadCsvButton:after {
                // Append to the icon the data-title attribute which holds a localised string
                content: attr(data-title);
                opacity: 50%;
            }

            #SearchText {
                width: 100%;
            }
        }

        #menu-toggle:checked+.hamburger-icon+.toolbar-items {
            display: flex;
        }
    }
}

@media print {
    .toolbar {
        font-size: 50%;
    }
}