#HelpButton {
    width: 2em;
    display: flex;
    justify-content: center;
}

#HelpButton::before {
    content: '?';
}

#HelpButton:hover {
    color: var(--ufo-ctrl-fg-focus);
    background-color: var(--ufo-ctrl-bg-focus);
}