#HelpButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    max-width: 1em;
    min-height: 1em;
    max-height: 1em;
    margin-top: 1em;
    color: var(--ufo-ctrl-fg);
    background-color: var(--ufo-ctrl-bg);
}

#HelpButton::after {
    padding-bottom: 2pt;
    content: '?';
}

#HelpButton:hover {
    color: var(--ufo-ctrl-fg-focus);
    background-color: var(--ufo-ctrl-bg-focus);
}