#LabelsToggleButton::after {
    content: '🏷';
    font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji",
        "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

#LabelsToggleButton[data-active='true'] {
    color: var(--ufo-ctrl-fg-focus);
    filter: none !important;
}