/* Status.scss */

#status {
    line-height: 175% !important;
    padding: 0 !important;
    margin: 0 auto 0 0 !important;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0.5em;
    width: 50%;
    font-size: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .inner {
        padding-left: 0.3em;
    }
}